@if (Subtitle is not null)
{
    <header>
        <span class="label">@Subtitle</span>
        <h2>@Title</h2>
    </header>
}
else
{
    <h2>@Title</h2>
}

<div class="description">@Description</div>
