li {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    margin-bottom: -1px;
}

    li:hover, li:focus, li:active {
        border-color: #fafafa;
        box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    }

        li:hover + li, li:focus + li, li:active + li {
            border-top-color: white;
        }

    li:first-child {
        border-top-left-radius: var( --border-radius);
        border-top-right-radius: var( --border-radius);
    }

    li:last-child {
        border-bottom-left-radius: var( --border-radius);
        border-bottom-right-radius: var( --border-radius);
        border-bottom: 1px solid #e5e5e5;
    }

summary {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    list-style: none;
    position: relative
}

summary, .body {
    padding: 2rem 5.733rem 2rem 2.267rem;
}

    summary::-webkit-details-marker {
        display: none;
    }

details[open] summary {
    padding-bottom: 1.867rem;
}

.icon {
    position: absolute;
    right: 2.267rem;
    top: 2.4rem;
    height: 1.067rem;
    color: var(--light-gray-color);
}

details[open] .icon {
    transform: rotate(135deg);
}

details[open] summary:hover .icon {
    transform: rotate(135deg) scale(1.1);
}

summary:hover .icon {
    transform: scale(1.1);
    color: var(--main-theme-color);
}

.body {
    padding-top: 0;
}

.footer {
    margin-top: 2rem;
}
