 @if(Items is not null)
 {
   @if (Items.Count > 0)
    {
        <ul class="no-style">
            @foreach(var item in Items)
            {
                <li>
                    <details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <summary>
                            <span itemprop="name">@item.Question</span>
                            <i class="icon fa-solid fa-plus"></i>
                        </summary>

                        @if (item.AnswerBody is not null)
                        {
                            <div class="body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div itemprop="text">@((MarkupString)item.AnswerBody)</div>

                                @if (item.AnswerFooter is not null)
                                {
                                    <div class="footer">@((MarkupString)item.AnswerFooter)</div>
                                }
                            </div>
                        }
                    </details>
                </li>
            }
        </ul>
    }
}