<article class="product-thumb" style="background-image: url(@Project.Image)">
    <div class="background"></div>
    <div class="preview">
        <header>
            <a href="@($"{Projects.Url}/{Project.Seo}")"><h3>@Project.Name</h3></a>
        </header>

        @*@if (project.Description is not null)
{
<p>@((MarkupString(project.Description)</p>
}*@
    </div>
</article>
