@inject NavigationManager nav

<PageHeader Title=@Text["HeadingTitle"] Breadcrumbs=_breadcrumbs />

<div class="content right">
    <div class="description">@((MarkupString)Text["Description"].ToString())</div>

    <FaqList Items=_questions />

    <div class="ask">
        <i class="ask__icon fa-regular fa-circle-question"></i>
        <p class="ask__text">@Text["DidntFindAnswer"]</p>
        <button class="main ask__button" @onclick=Move>@ContactsText["HeadingTitle"]</button>
    </div>
</div>


@code {
    void Move()
    {
        nav.NavigateTo(Contacts.Url);
    }
}
