.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.navigation {
    display: flex;
    margin: 0 -28px;
}

    .navigation a {
        color: white;
        display: block;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.96px;
        line-height: 19px;
        margin: 0 20px;
        text-transform: uppercase;
    }

        .navigation a:hover {
            color: var(--main-theme-color-hue);
        }

.row {
    width: 100%;
}

.group {
    margin: 0 -16px;
}

    .group > * {
        margin: 0 16px;
    }

logo {
    margin: 0 16px;
    font-size: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu {
    margin: 0 -12px;
}

.top {
    height: 40px;
}

.phone, .mail {
    font-size: 13px;
    line-height: 20px;
    margin-right: 20px;
}

.bottom {
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submenu li {
    margin: 0 12px;
}

.submenu a {
    font-size: 13px;
    line-height: 20px;
}

    .submenu a:hover {
        color: var(--main-theme-color);
    }

a {
    color: #fff;
}

burger i {
    font-size: 16px;
}


#desktop-header {
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

@media (max-width: 992px) {
    #desktop-header {
        display: none;
    }
}

a {
    color: white !important;
}

    a:hover {
        color: #666 !important;
    }

.overlayed a {
    color: #333 !important;
}

    .overlayed a:hover {
        color: var(--main-theme-color) !important;
    }

.overlayed {
    position: static !important;
}

.overlayed .bottom {
    box-shadow: 0px 3px 7px 2px #ececec;
    border-radius: 6px;
    padding: 40px;
    margin-top: 10px;
}
