h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    margin-bottom: 20px;
    color: white;
}

p {
    font-size: 18px;
    line-height: 28px;
}

.left-part {
    padding-right: 50px;
}

.right-part {
    padding-left: 50px;
}

.background {
    filter: blur(2.5px) brightness(0.8);
    object-fit: cover;
    min-height: 100vh;
    height: 800px;
    object-position: center;
    user-select: none;
}

.shadowed h1, .shadowed p {
    text-shadow: -2px 2px 3px black;
}

.carousel-caption {
    top: 0;
    bottom: 0;
    display: flex !important;
    align-items: center;
    text-align: left;
    left: 10%;
    right: 10%;
    padding-top: 122px;
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
}

button {
    padding: 17px 26px;
    font-size: 16px;
    line-height: 20px;
}

p {
    margin: 0;
}

.buttons {
    margin-top: 50px;
}

.wrapper {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
