<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <article class="carousel-item active">
            <img src="images/ghost-background.jpg" class="background d-block w-100" alt="...">
            <div class="container carousel-caption d-none d-md-block">
                <div class="shadowed wrapper row">
                    <div class="col left-part">
                        <h1>Реализуем любую идею</h1>
                        <p>Мы производим фигуры на основе ваших чертежей, <abbr title="Three-dimensional" lang="en">3D</abbr>-моделей либо просто на основе описания</p>
                        <div class="buttons">
                            <a href="mailto:admin1@tdkatod.ru" class="button main">Отправить запрос</a>
                        </div>
                    </div>
                    <div class="col right-part">
                        <img class="responsive" src="images/ghost.png" />
                    </div>
                </div>
            </div>
        </article>

        <article class="carousel-item">
            <img src="images/halloween-background.jpg" class="background d-block w-100" alt="...">
            <div class="container carousel-caption d-none d-md-block">
                <div class="shadowed wrapper row">
                    <div class="col left-part">
                        <h1>В Хэллоуин вместе с тыквой</h1>
                        <p>Специально к Хэллоуину мы произвели несколько ужасно симпотичных моделей тыкв - отличное украшение ко двору и дому!</p>
                        <div class="buttons">
                            <a class="button main" href="mailto:admin1@tdkatod.ru">Запросить к празднику</a>
                        </div>
                    </div>
                    <div class="col right-part">
                        <img class="responsive" src="images/pumpkin.png" />
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
