<section class="contacts-block">
    <address>
    <div class="container">
        <BlockHeader>
            <Subtitle>Ждём вас</Subtitle>
            <Title>@Text["HeadingTitle"]</Title>
            <Description><p>Мы находимся по адресу: Волгоград, ул. Милиционера Буханцева 36. Будем рады проконсультировать и помочь в выборе!</p></Description>
        </BlockHeader>
    </div>

    <iframe src="@StoreSettings["MapSource"]"></iframe>
    </address>
</section>
