.creating-models {
    border-top: var(--border);
    padding-top: 80px;
    padding-bottom: 80px;
}

.row {
    align-items: center;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

    section:first-of-type {
        padding-top: 0;
    }

    section:last-of-type {
        padding-bottom: 0;
    }

@media(max-width: 720px) {
    section {
        padding-bottom: 2.333rem;
    }

        section:last-of-type {
            padding-bottom: 0;
        }

    .text {
        margin-bottom: 3.333rem;
    }

    .model {
        order: 2;
        text-align: center;
    }

    img {
        height: 80vh;
    }
}
