.faq {
    border-top: var(--border);
}

section {
    padding-top: 5.333rem;
    padding-bottom: 5.333rem;
    margin-top: 0;
    margin-bottom: 0;
}

@media(max-width: 992px) {
    .text {
        margin-bottom: 2.333rem;
    }
}
