.address_light a.address-item__text {
    color: #fff;
}

    .address_light a.address-item__text:hover,
    .address_light a.address-item__text:focus,
    .address_light a.address-item__text:active {
        color: #999;
    }

.address__item {
    margin: 15px 0;
}

    .address__item:first-child {
        margin-top: 0;
    }

    .address__item:last-child {
        margin-bottom: 0;
    }

.address-item {
    display: flex;
    align-items: center;
}

.address-item__icon {
    margin-right: 15px;
    height: 14px;
    width: 14px;
}

.address-item__text {
    color: inherit;
    font-size: 14px;
    line-height: 21px;
}

.address-item__text_phone {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}

a.address-item__text:hover,
a.address-item__text:focus,
a.address-item__text:active 
{
    color: var(--main-theme-color);
}
