@if (Items is not null)
{
    <ol class="breadcrumbs no-style" itemscope itemtype="https://schema.org/BreadcrumbList">
        @for (var index = 0; index < Items.Count; index++)
        {
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                @if (index != Items.Count - 1)
                {
                    <a href="@Items[index].Url" itemprop="item">
                        <span itemprop="name">@Items[index].Name</span>
                    </a>
                }
                else
                {
                    <span itemprop="name">@Items[index].Name</span>
                }

                <meta itemprop="position" content="@(index + 1)" />
            </li>
        }
    </ol>
}
