* {
    --row-horizontal-margin: 24px;
    --first-row-vertical-margin: 20px;
    --second-row-vertical-margin: 15px;
    --bottom-margin: 16px;
    --social-item-margin: 6px;
    --payment-item-margin: 10px;
}

footer {
    background-color: #333;
    color: #999;
}

a {
    color: #999;
}

.body {
    padding: 56px 0 42px;
    display: flex;
    justify-content: space-between;
}

.first-row {
    display: flex;
}

.second-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: calc(0px - var(--second-row-vertical-margin)) calc(0px - var(--row-horizontal-margin)) 15px;
}

    .second-row > * {
        margin: var(--second-row-vertical-margin) var(--row-horizontal-margin)
    }

.menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: calc(0px - var(--first-row-vertical-margin)) calc(0px - var(--row-horizontal-margin)) 33px;
}

    .menu li {
        margin: var(--first-row-vertical-margin) var(--row-horizontal-margin);
    }

    .menu a {
        color: #fff;
        font-weight: 700;
        line-height: 22px;
    }

        .menu a:hover,
        .menu a:focus,
        .menu a:active {
            color: #999;
        }

button {
    color: #999;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    border: none;
    background: none;
    padding: 0;
}

    button:hover, button:focus, button:active {
        color: #fff;
    }

.subscribe-icon {
    margin-right: 11px;
}

.bottom {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding: 30px 0;
    margin: calc(0px - var(--bottom-margin));
}

    .bottom > * {
        margin: var(--bottom-margin);
    }

    .bottom:before {
        content: '';
        position: absolute;
        border-top: 1px solid #484848;
        top: 0;
        left: var(--bottom-margin);
        right: var(--bottom-margin);
    }

::deep .bottom .payment {
    margin: var(--bottom-margin) calc(var(--bottom-margin) - var(--payment-item-margin));
}

::deep .social a {
    background: #474747;
    color: #a3a3a3
}

::deep .second-row .social {
    margin: calc(var(--second-row-vertical-margin) - var(--social-item-margin)) calc(var(--row-horizontal-margin) - var(--social-item-margin))
}

::deep .social a:hover,
::deep .social a:focus,
::deep.social a:active {
    opacity: 1;
    color: #fff
}

    ::deep .social a:hover i,
    ::deep .social a:focus i,
    ::deep .social a:active i {
        color: #fff;
    }

::deep .second-row .language {
    margin: var(--second-row-vertical-margin) var(--row-horizontal-margin);
}

address {
    margin-bottom: 15px;
}

    address > div {
        display: flex;
        align-items: center;
        margin: 15px 0;
    }

        address > div:first-child {
            margin-top: 0;
        }

        address > div:last-child {
            margin-bottom: 0;
        }

    address i, address svg {
        margin-right: 15px;
        height: 14px;
        width: 14px;
    }

    address a, address span {
        color: #fff;
        font-size: 14px;
        line-height: 21px;
    }

        address a:hover {
            color: #999;
        }

.phone {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}

.request-call {
    display: block;
    width: 100%;
    text-align: center;
}

@media (max-width: 1200px) {
    .body {
        flex-wrap: wrap;
    }
}

@media (max-width: 991px) {
    .body > * {
        align-items: center;
    }
}

@media (max-width: 767px) {
    .body, .bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 32px;
        text-align: center;
    }

    .body {
        margin-bottom: 16px;
    }

    .menu {
        justify-content: center;
    }

    .second-row {
        justify-content: center
    }

    address {
        display: flex;
        flex-direction: column;
    }
}
