.loading {
    text-align: center;
    padding: 2rem 0.667rem;
}

.loading__icon {
    font-size: 1.4rem;
}

.loading__text {
    letter-spacing: 0.2667rem;
    text-transform: uppercase;
    margin: 0.667rem 0 0;
}
