<ul class="opened">
    <li>
        <a href="https://api.whatsapp.com/send?text=@Title @Navigation.Uri&utm_source=share2" rel="nofollow noopener" target="_blank" title="WhatsApp">
            <i class="plus-size fa-brands fa-whatsapp"></i>
        </a>
    </li>
    <li>
        <a href="https://t.me/share/url?url=@Navigation.Uri&text=@Title&utm_source=share2" rel="nofollow noopener" target="_blank" title="Telegram">
            <i class="fa-brands fa-telegram"></i>
        </a>
    </li>
    <li>
        <a href="viber://forward?text=@Title @Navigation.Uri&utm_source=share2" rel="nofollow" target="_blank" title="Viber">
            <i class="fa-brands fa-viber"></i>
        </a>
    </li>
    <li>
        <a href="https://web.skype.com/share?url=@Navigation.Uri&utm_source=share2" rel="nofollow noopener" target="_blank" title="Skype">
            <i class="plus-size fa-brands fa-skype"></i>
        </a>
    </li>
    <li>
        <a href="https://vk.com/share.php?url=@Navigation.Uri&title=@Title&utm_source=share2" rel="nofollow noopener" target="_blank" title="ВКонтакте">
            <i class="fa-brands fa-vk"></i>
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/sharer.php?src=sp&u=@Navigation.Uri&title=@Title&utm_source=share2" rel="nofollow noopener" target="_blank" title="Facebook">
            <i class="fa-brands fa-facebook"></i>
        </a>
    </li>
</ul>
