* {
    --social-item-margin: 6px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    height: 33px;
    width: 33px;
}

    a:hover, a:focus, a:active {
        opacity: 0.8;
    }

li {
    margin: var(--social-item-margin);
}

ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: calc(0px - var(--social-item-margin));
    padding: 0;
}


/* When adding new social networks, you need to add the corresponding background in a new class with the name of the social network */
.instagram, .instagram:hover, .instagram:focus, .instagram:active {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
