@if (s_socials is not null)
{
    @if (s_socials.Count > 0)
    {
        <ul class="@_class">
            @foreach (var social in s_socials)
            {
                <li class="social__item">
                    <a class="social__link social__link_@(social.Key.ToLower())" href="@social.Value" rel="nofollow noopener" target="_blank">
                        @if (string.IsNullOrWhiteSpace(social.SvgIconCode))
                        {
                            @social.Key
                        }
                        else
                        {
                           <span class="social__icon">@((MarkupString)social.SvgIconCode)</span>
                        }
                    </a>
                </li>
            }
        </ul>
    }
}
else
{
    <Loading />
}
