@page
@model CreateModel

<div class="header">
    <div class="float-end">
        <button type="submit" form="language" class="btn btn-primary" title="@Model.Localizer["Add"]">
            <i class="fa-solid fa-floppy-disk"></i>
        </button>

        <a href="@Model.PreviousPage" class="btn btn-light">
            <i class="fa-solid fa-reply"></i>
        </a>
    </div>

    <h1>@Model.SharedLocalizer["Heading title"]</h1>

    <partial name="_Breadcrumbs" for="Breadcrumbs" />
</div>

<div class="card">
    <div class="card-header"><i class="fa-solid fa-pencil"></i> @Model.Localizer["Add"]</div>

    <div class="card-body">
        <partial name="_Form" for="Language" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
