@page "{id:int}"
@model EditModel

<div class="header">
    <div class="float-end">
        <button type="submit" form="language" class="btn btn-primary" title="@Model.Localizer["Edit"]">
            <i class="fa-solid fa-floppy-disk"></i>
        </button>

        <a href="@Model.IndexPage" class="btn btn-light">
            <i class="fa-solid fa-reply"></i>
        </a>
    </div>

    <h1>@Model.SharedLocalizer["Heading title"]</h1>

    <partial name="_Breadcrumbs" for="Breadcrumbs" />
</div>

<div class="card">
    <div class="card-header"><i class="fa-solid fa-pencil"></i> @Model.Localizer["Edit"]</div>

    <div class="card-body">
        @await Html.PartialAsync("_Form", Model.Language)
    </div>
</div>
