@inherits LayoutComponentBase

<PageTitle>Store</PageTitle>

<div class="side">
    <header>
        <img class="logo" src="/images/logo.svg" alt="Store" />

        <Menu />
    </header>

    <footer>
        <Badges />

        <Social />
    </footer>
</div>

<main>
    <article>
        @Body
    </article>
</main>
