@using Store.Areas.Admin.Pages.Localization.Language;
@inject IStringLocalizer<CommonResource> localizer

<div class="modal fade" id="@JavascriptVariables.Instance.DeleteConfirmationModalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Подтвердите удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@localizer["Close"]"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="1" />
                    <p class="mb-3">Вы уверены?</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@localizer["Close"]</button>
                <button type="button" class="btn btn-danger">@localizer["Delete"]</button>
            </div>
        </div>
    </div>
</div>

@* <script>
    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = 'New message to ' + recipient
        modalBodyInput.value = recipient
    })
</script>
 *@