<PageHeader Title=@Text["HeadingTitle"] Breadcrumbs=_breadcrumbs />

<div class="content right">
    <div>@((MarkupString)Text["Description"].ToString())</div>
    

    @if (_requisites is not null)
    {
        if (_requisites.Count > 0)
        {
            <dl class="tabled">
                @foreach (var requisite in _requisites)
                {
                    <dt>@((MarkupString)requisite.Name)</dt>
                    <dd>@((MarkupString)requisite.Value)</dd>
                }
            </dl>
        }
    }
    else
    {
        <Loading />
    }
</div>
