@using Store.Areas.Admin.Pages.Localization.Language;

<div class="modal fade" id="@JavascriptVariables.Instance.DeleteConfirmationModalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Подтвердите удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Localizer["Close"]"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="1" />
                    <p class="mb-3">Вы уверены?</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
                <button type="button" class="btn btn-danger">@Localizer["Delete"]</button>
            </div>
        </div>
    </div>
</div>  
