<PageTitle>@Text["MetaTitle"]</PageTitle>

<HeadContent>
    <meta name="description" content="@Text["MetaDescription"]" />
    <meta name="keywords" content="@Text["MetaKeywords"]" />
</HeadContent>

<div class="row">
    <div class="left col-lg-6">
        <address>
            <div class="properties row">
                <div class="col-md-6">
                    <div class="property">
                        <span class="label">Адрес</span>
                        <span>Волгоград, ул. Милиционера Буханцева 36</span>
                    </div>

                    <div class="property">
                        <span class="label">Время работы</span>
                        <span>Пн - Пт: 9.00 - 18.00</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="property">
                        <span class="label">Телефон</span>
                        <a style="display: block" href="tel:+7 (8442) 43-80-50">+7 (8442) 43-80-50</a>
                        <a style="display: block" href="tel:+7 (8442) 43-80-51">+7 (8442) 43-80-51</a>
                        <a style="display: block" href="tel:+7 (938) 545-77-75">+7 (938) 545-77-75</a>
                        <a style="display: block" href="tel:+7 (905) 333-22-32">+7 (905) 333-22-32</a>
                    </div>

                    <div class="property">
                        <span class="label">Email</span>
                        <a href="mailto:info@tdkatod.ru">info@tdkatod.ru</a>
                    </div>
                </div>
            </div>
        </address>

        <div class="description">Вход со стороны трамвайных путей</div>
    </div>

    <address class="right col-lg-6">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab3d5dd9eed62d25c625724c51f7c943981b1e3465560759cbb7aaa1fe7aabf93&amp;source=constructor"></iframe>
    </address>
</div>
