@inherits LayoutComponentBase

<div class="container clearfix">
    <main>
        <article>
            @Body
        </article>
    </main>

    <aside class="left">
        <AsideList Items=_asideMenu />
    </aside>
</div>
