@inject NavigationManager nav

<PageHeader Title=@Text["HeadingTitle"]  Breadcrumbs=_breadcrumbs />

<div class="">
    @if (_products is not null)
    {
        if (_products.Count > 0)
        {
         <ul class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
                @foreach(var product in _products)
                {
                    <li class="col">
                        <Store.Client.Shared.Product.ProductThumb Product=product />
                    </li>
                }
         </ul>   
        }
    }
    else
    {
        <Loading />
    }

    <div class="ask">
        <i class="ask__icon fa-solid fa-pen-ruler"></i>
        <p class="ask__text">Ничего не приглянулось? Свяжитесь с нами и расскажите задачу - мы сможем сделать практически любую фигуру под ваши нужды!</p>
        <button class="main ask__button" @onclick=Move>Связаться</button>
    </div>
</div>


@code {
    void Move()
    {
        nav.NavigateTo(Contacts.Url);
    }
}