@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Teaser />

<Loading />

<Breadcrumbs Items=breadcrumbs />

<MobileMenu />

<Payment />

<Faq />

@code {
    List<Breadcrumb> breadcrumbs = new()
    {
        new Breadcrumb("1", "/index"),
        new Breadcrumb("1", "1"),
        new Breadcrumb("1", "1/431"),
        new Breadcrumb("1", "1"),
        new Breadcrumb("1", "1"),
    };
}