@page "/catalog/{Seo}"
@layout BodyContainer

@if (_Product is not null)
{
    <PageHeader Title="@_Product.Name" Breadcrumbs=_breadcrumbs />

    <div class="row">
        <div class="col-12 col-md-8">
            <img class="responsive rounded" src="@_Product.Image" alt="@_Product.Name" />
        </div>
        <div class="col-12 col-md-4">
            <div>@_Product.FormatedPrice</div>
            <a href="mailto:admin1@tdkatod.ru">Заказать</a>
        </div>
    </div>

    <div class="">
        ОПИСАНИЕ
    </div>

}

@code {
    List<Breadcrumb>? _breadcrumbs;

    [Inject]
    public IStringLocalizer<Catalog> CatalogText { get; set; } = null!;
    [Parameter]
    public string? Seo { get; set; }

    [Inject]
    public IProductService Service { get; init; } = null!;

    public Store.Shared.Entities.Product? _Product { get; set; }

    protected override void OnInitialized()
    {
        if (Seo is not null)
        {
            _Product = Service.Get(Seo);

            if (_Product is not null)
            {
                _breadcrumbs = new List<Breadcrumb>()
                {
                    new Breadcrumb(CatalogText["HeadingTitle"], Catalog.Url),
                    new Breadcrumb(_Product.Name, $"{Catalog.Url}/{_Product.Seo}")
                }; 
            }
             
        }
    }
}
