<PageHeader Title=@Text["HeadingTitle"]  Breadcrumbs=_breadcrumbs />


@if (_projects is not null)
        {
            @if (_projects.Count > 0)
            {
                <ul class="no-style">
                    @foreach(var project in _projects)
                    {
                        <li>
                            <ProjectThumb Project=project />
                        </li> 
                    }
                </ul>
            }
        }
        else
        {
            <Loading />
        }

            <div class="ask">
        <i class="ask__icon fa-regular fa-circle-question"></i>
        <p class="ask__text">Хотите так? Свяжитесь с нами и мы будем рады произвести любую фигуру под ваши желания!</p>
        <a class="button main ask__button" href="@Contacts.Url">Контакты</a>
    </div>



